@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/inter.ttf");
}

.test {
  font-size: large;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.cursor-blink {
  animation: blink 1s steps(1) infinite;
}

/* forms */

input:where([type="email"], [type="text"], [type="number"]):not(.nostyle),
textarea {
  @apply p-2 border rounded-md border-gray-300;
}

.nostyle {
  @apply focus:outline-none;
  /* caret-color: transparent; */
}

.label-text {
  @apply font-medium text-sm mb-0.5 capitalize;
}

.label-required:after {
  content: " *";
  @apply text-red-500 font-normal;
}

.scrollbar-fancy::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar-fancy:not(.scrollbar-fancy-glass)::-webkit-scrollbar-thumb {
  @apply dark:bg-neutral-900;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #d1d5db;
}

.scrollbar-fancy-glass::-webkit-scrollbar-thumb {
  @apply bg-[rgba(255,255,255,0.5)] dark:bg-[rgba(0,0,0,0.2)];
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
}
